@import '../../node_modules/@fontsource-variable/inter/index.css';
@import '../../node_modules/@fontsource-variable/roboto-mono/index.css';
@import './tailwind.css';

html {
  scroll-behavior: smooth;
  /* Don't scroll the target underneath sticky Header */
  scroll-padding-top: 180px;
  /* TODO: Remove when Oasis UI library use variable fonts */
  font-family: 'Inter Variable', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;

  /*
  Fixes display of "x" next to numbers, e.g. in search box "rofl1qze0hqur8xf2…wu23×0zp" "×":
  http://localhost:1234/mainnet/sapphire/rofl/app/rofl1qze0hqur8xf20xfd44fke8dayysdq8p2wu23x0zp?q=rofl1qze0hqur8xf20xfd44fke8dayysdq8p2wu23x0zp
  https://rsms.me/inter/#features
  Unfortunately now vertical alignment of chars like ":" and "=" is worse.
  */
  font-feature-settings: 'calt' 0;
}

/** Use Inter for "…" instead of Roboto Mono. */
@font-face {
  font-family: 'Roboto Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url('../../node_modules/@fontsource-variable/inter/files/inter-latin-wght-normal.woff2')
    format('woff2');
  unicode-range: U+2026;
}

svg.recharts-surface {
  overflow: visible;
}

.expand {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
