/** FigtreeVariable */
@import '../../node_modules/@fontsource/figtree/variable.css';
@import '../../node_modules/@fontsource/roboto-mono/variable.css';

svg.recharts-surface {
  overflow: visible;
}
