@import '@oasisprotocol/ui-library/src/styles/global.css';

@theme {
  --color-theme-surface: var(--color-theme-surface);
  --color-theme-accent: var(--color-theme-accent);
  --color-theme-accent-light: var(--color-theme-accent-light);
  --color-theme-accent-dark: var(--color-theme-accent-dark);
  --color-theme-layout-accent: var(--color-theme-layout-accent);
  --color-theme-contrast-main: var(--color-theme-contrast-main);
}

.mainnet {
  --color-theme-surface: #ffffff;
  --color-theme-accent: #0500e2;
  --color-theme-accent-light: #6665d8;
  --color-theme-accent-dark: #000062;
  --color-theme-layout-accent: #ffffff;
  --color-theme-contrast-main: #ffffff;
}

.testnet {
  --color-theme-surface: #fff0e4;
  --color-theme-accent: #ffa800;
  --color-theme-accent-light: #fff0e4;
  --color-theme-accent-dark: #000062;
  --color-theme-layout-accent: #ffa800;
  --color-theme-contrast-main: #000062;
}

.localnet {
  --color-theme-surface: #ebebeb;
  --color-theme-accent: #cecece;
  --color-theme-accent-light: #ebebeb;
  --color-theme-accent-dark: #000062;
  --color-theme-layout-accent: #cecece;
  --color-theme-contrast-main: #000062;
}

.mobile-card-border-override > div > [data-slot='card'] {
  @apply rounded-none border-solid border-theme-layout-accent border-y-[10px] border-x;
}

/* Specific fixes needed during migration to Oasis UI Library */

/* Override MUI styles that are applied globally */
[class*=' text-'] {
  font-family: 'Inter Variable', sans-serif;
}

/* Override Tailwind's vertical-align reset for MUI SVG components */
[class*='Mui'] img,
[class*='Mui'] svg,
[class*='Mui'] video,
[class*='Mui'] canvas,
[class*='Mui'] audio,
[class*='Mui'] iframe,
[class*='Mui'] embed,
[class*='Mui'] object {
  vertical-align: revert;
}
