@import '@oasisprotocol/ui-library/src/styles/global.css';

@theme {
  --font-mono: 'Roboto Mono Variable', monospace;
  --color-theme-surface: var(--color-theme-surface);
  --color-theme-accent: var(--color-theme-accent);
  --color-theme-accent-light: var(--color-theme-accent-light);
  --color-theme-accent-dark: var(--color-theme-accent-dark);
  --color-theme-layout-accent: var(--color-theme-layout-accent);
  --color-theme-contrast-main: var(--color-theme-contrast-main);
}

.mainnet {
  --color-theme-surface: #ffffff;
  --color-theme-accent: #0500e2;
  --color-theme-accent-light: #6665d8;
  --color-theme-accent-dark: #000062;
  --color-theme-layout-accent: #ffffff;
  --color-theme-contrast-main: #ffffff;
}

.testnet {
  --color-theme-surface: #fff0e4;
  --color-theme-accent: #ffa800;
  --color-theme-accent-light: #fff0e4;
  --color-theme-accent-dark: #000062;
  --color-theme-layout-accent: #ffa800;
  --color-theme-contrast-main: #000062;
}

.localnet {
  --color-theme-surface: #ebebeb;
  --color-theme-accent: #cecece;
  --color-theme-accent-light: #ebebeb;
  --color-theme-accent-dark: #000062;
  --color-theme-layout-accent: #cecece;
  --color-theme-contrast-main: #000062;
}

.mobile-card-border-override > div > [data-slot='card'] {
  @apply rounded-none border-solid border-theme-layout-accent border-y-[10px] border-x;
}

/* Flash animation for table highlights */
@keyframes flash {
  0% {
    background-color: white;
  }
  20%,
  80% {
    background-color: #e0f5ee;
  }
  100% {
    background-color: white;
  }
}
